<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            
            <section name="The4Dimension.Properties.Defaults" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="The4Dimension.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        
        <The4Dimension.Properties.Defaults>
            <setting name="GamePath" serializeAs="String">
                <value />
            </setting>
            <setting name="OnlyKnownObjs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CameraInertia" serializeAs="String">
                <value>0.92</value>
            </setting>
            <setting name="ShowFps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTriCount" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDbgInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CameraMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZoomSen" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="RotSen" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AutoMoveCam" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AddObjOrigin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadDbLnk" serializeAs="String">
                <value>https://cdn.discordapp.com/attachments/749031033395085376/807013958027706378/objectdb.xml</value>
            </setting>
            <setting name="CheckUpd" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Music" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>STM_BGM_AFTER_BOSS</string>
                        <string>STM_BGM_BOSS_BUNBUN</string>
                        <string>STM_BGM_BOSS_PUNPUN</string>
                        <string>STM_BGM_CASTLE_A</string>
                        <string>STM_BGM_COURSE_SELECT</string>
                        <string>STM_BGM_DEMO01_A</string>
                        <string>STM_BGM_DEMO01_B</string>
                        <string>STM_BGM_DEMO02_A</string>
                        <string>STM_BGM_DEMO02_B</string>
                        <string>STM_BGM_DEMO03_A</string>
                        <string>STM_BGM_DEMO03_B</string>
                        <string>STM_BGM_DEMO04_A</string>
                        <string>STM_BGM_DEMO04_B</string>
                        <string>STM_BGM_DEMO05</string>
                        <string>STM_BGM_ENDING</string>
                        <string>STM_BGM_GOAL_01</string>
                        <string>STM_BGM_GOAL_02</string>
                        <string>STM_BGM_GOAL_03</string>
                        <string>STM_BGM_GOAL_03_B</string>
                        <string>STM_BGM_HURRY_UP</string>
                        <string>STM_BGM_JG_COURSEIN</string>
                        <string>STM_BGM_JG_GAME_OVER</string>
                        <string>STM_BGM_JG_MISS</string>
                        <string>STM_BGM_KINOHOUSE</string>
                        <string>STM_BGM_KOOPA_01</string>
                        <string>STM_BGM_KOOPA_02</string>
                        <string>STM_BGM_MUTEKISTAR</string>
                        <string>STM_BGM_POTER</string>
                        <string>STM_BGM_RAREROOM</string>
                        <string>STM_BGM_STAFF_ROLL</string>
                        <string>STM_BGM_TRUCK_A</string>
                        <string>STM_BGM_WORLD1_A</string>
                        <string>STM_BGM_WORLD2_A</string>
                        <string>STM_BGM_WORLD3_A</string>
                        <string>STM_BGM_WORLD4_A</string>
                        <string>STM_BGM_WORLD5_A</string>
                        <string>STM_BGM_WORLD6_A</string>
                        <string>STM_BGM_WORLD7_A</string>
                        <string>STM_BGM_WORLD8_A</string>
                        <string>STM_BGM_WORLD8S_A</string>
                        <string>STM_BGM_WORLD1_B</string>
                        <string>STM_BGM_WORLD2_B</string>
                        <string>STM_BGM_WORLD3_B</string>
                        <string>STM_BGM_WORLD4_B</string>
                        <string>STM_BGM_WORLD5_B</string>
                        <string>STM_BGM_WORLD6_B</string>
                        <string>STM_BGM_WORLD7_B</string>
                        <string>STM_BGM_WORLD8_B</string>
                        <string>STM_BGM_WORLD8S_B</string>
                        <string>STM_JG_KINO_GIFT_GOLD</string>
                        <string>STM_JG_KINO_GIFT_SILVER</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DotComma" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadDb" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HasAA" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TextFilter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentLang" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentLangName" serializeAs="String">
                <value>DEFAULT</value>
            </setting>
            <setting name="OpenRecent" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="CamSpeed" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="CamDistance" serializeAs="String">
                <value>600</value>
            </setting>
        </The4Dimension.Properties.Defaults>
        <The4Dimension.Properties.Settings>
            <setting name="GamePath" serializeAs="String">
                <value />
            </setting>
            <setting name="OnlyKnwonObjs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CameraInertia" serializeAs="String">
                <value>0.92</value>
            </setting>
            <setting name="ShowFps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTriCount" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDbgInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CameraMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZoomSen" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="RotSen" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AutoMoveCam" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AddObjectOrigin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadDbLink" serializeAs="String">
                <value>https://cdn.discordapp.com/attachments/749031033395085376/807013958027706378/objectdb.xml</value>
            </setting>
            <setting name="CheckUpdates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadDb" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Music" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>STM_BGM_AFTER_BOSS</string>
                        <string>STM_BGM_BOSS_BUNBUN</string>
                        <string>STM_BGM_BOSS_PUNPUN</string>
                        <string>STM_BGM_CASTLE_A</string>
                        <string>STM_BGM_COURSE_SELECT</string>
                        <string>STM_BGM_DEMO01_A</string>
                        <string>STM_BGM_DEMO01_B</string>
                        <string>STM_BGM_DEMO02_A</string>
                        <string>STM_BGM_DEMO02_B</string>
                        <string>STM_BGM_DEMO03_A</string>
                        <string>STM_BGM_DEMO03_B</string>
                        <string>STM_BGM_DEMO04_A</string>
                        <string>STM_BGM_DEMO04_B</string>
                        <string>STM_BGM_DEMO05</string>
                        <string>STM_BGM_ENDING</string>
                        <string>STM_BGM_GOAL_01</string>
                        <string>STM_BGM_GOAL_02</string>
                        <string>STM_BGM_GOAL_03</string>
                        <string>STM_BGM_GOAL_03_B</string>
                        <string>STM_BGM_HURRY_UP</string>
                        <string>STM_BGM_JG_COURSEIN</string>
                        <string>STM_BGM_JG_GAME_OVER</string>
                        <string>STM_BGM_JG_MISS</string>
                        <string>STM_BGM_KINOHOUSE</string>
                        <string>STM_BGM_KOOPA_01</string>
                        <string>STM_BGM_KOOPA_02</string>
                        <string>STM_BGM_MUTEKISTAR</string>
                        <string>STM_BGM_POTER</string>
                        <string>STM_BGM_RAREROOM</string>
                        <string>STM_BGM_STAFF_ROLL</string>
                        <string>STM_BGM_TRUCK_A</string>
                        <string>STM_BGM_WORLD1_A</string>
                        <string>STM_BGM_WORLD2_A</string>
                        <string>STM_BGM_WORLD3_A</string>
                        <string>STM_BGM_WORLD4_A</string>
                        <string>STM_BGM_WORLD5_A</string>
                        <string>STM_BGM_WORLD6_A</string>
                        <string>STM_BGM_WORLD7_A</string>
                        <string>STM_BGM_WORLD8_A</string>
                        <string>STM_BGM_WORLD8S_A</string>
                        <string>STM_BGM_WORLD1_B</string>
                        <string>STM_BGM_WORLD2_B</string>
                        <string>STM_BGM_WORLD3_B</string>
                        <string>STM_BGM_WORLD4_B</string>
                        <string>STM_BGM_WORLD5_B</string>
                        <string>STM_BGM_WORLD6_B</string>
                        <string>STM_BGM_WORLD7_B</string>
                        <string>STM_BGM_WORLD8_B</string>
                        <string>STM_BGM_WORLD8S_B</string>
                        <string>STM_JG_KINO_GIFT_GOLD</string>
                        <string>STM_JG_KINO_GIFT_SILVER</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DotComma" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HasAA" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TextFilter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentLang" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentLangName" serializeAs="String">
                <value>DEFAULT</value>
            </setting>
            <setting name="OpenRecent" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="CamSpeed" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="CamDistance" serializeAs="String">
                <value>600</value>
            </setting>
        </The4Dimension.Properties.Settings>
    </userSettings>
</configuration>